<tr>
  <td></td>
  <td class="align-middle"><%= tool.name %></td>
  <td class="align-middle"><%= tool.cli_name %></td>
  <td class="align-middle"><%= tool.users.pluck(:id).uniq.count %></td>
  <td><button class="float-end btn btn-dark border border-light w-auto" href="">View</button></td>
</tr>
