<tr>
  <td></td>
  <td class="align-middle"><%= project.name %></td>
  <td class="align-middle">/<%= project.folder_name %></td>
  <td class="align-middle">0</td>
  <td><button class="float-end btn btn-dark border border-light w-auto" href="">View</button></td>
</tr>
